/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poopins",sans-serif;
  }
  .container{
    text-align: center;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    max-width: 300px;
    border: 2px solid red;
    border-radius: 20px;
  }
  .login__container{
    border: 2px solid green;
  }
  .forgotten__container{
    border: 2px solid yellow;
  }
  .regtext{
    padding: 10px 0px;
  }
  .reginput{
    padding: 10px 8px;
    border-radius: 10px;
    border: 1px solid #bbb;
  }
  .regbtn{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 50px;
  }
  .login__link{
    text-decoration: none;
  }
